@tailwind base;
@tailwind components;
@tailwind utilities;

.head-color {
    color: #ffffff; /* Use blue-500 color */
  } 

.head-color1{
  color: rgb(15 23 42);
}  

.my-txt{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.btn-bg-1{
  background: rgb(174, 0, 255);
}

.btn-bg-2{
  background: rgb(196,181,253);
}

.purple1{
  color: rgba(186, 38, 255, 0.92);

}





/* const SnowRainAnimation = () => {


  return (
    <div className="bg-black min-h-screen flex items-center justify-center">
      <canvas id="snowCanvas"></canvas>
      <div className="absolute text-center">
        <h1 className="text-white text-5xl mb-2">
          <Star className="inline-block" /> Snow Rain Animation
        </h1>
        <p className="text-gray-400">Enjoy the dynamic weather simulation with varied snowflake sizes.</p>
      </div>
    </div>
  );
};

export default SnowRainAnimation; */