@tailwind base;
@tailwind components;
@tailwind utilities;

.head-color {
    color: #ffffff; /* Use blue-500 color */
  } 

.head-color1{
  color: rgb(15 23 42);
}  

.my-txt{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.btn-bg-1{
  background: blue;
}

.btn-bg-2{
  background: rgb(196,181,253);
}

